
    h1 {
    text-transform: uppercase;
    color: white;
    margin: 1%;
    padding-left: 0px;
    font-family: 'oleo script';
}
h2{
    color: darkslategrey;
    background-color: whitesmoke;
    height: 40px;
    margin: 10px;
}
header  {

    background-color: darkslategrey;
    margin: 0.3%;
    padding: 0%;
    display: flex;
    flex-direction: row;
 justify-content: space-between;
 align-items: center;
}
ul {margin: px;
    padding-left: px;
    list-style: none;
   
     display: flex;
    flex-direction: row;
 justify-content:space-around  ;
 justify-content: center;

}
ul li{color: white;

    background-color:darkslategrey;
    margin: 0%;
    padding: 10px;
    margin-right: 40px;
    font-family:'fira sans';
border-radius: 5px;
}
 footer{
   background-color: darkslategrey;
   padding: 1px;
 }
 h3{
   margin: 300px;
   text-align: center;
 }
 h3 a{
   margin: 20px;
   padding: 10px;
   color:white;
   text-align: right;
   background-color: darkblue;
   border-radius: 5px;

 }
 ul li a{color: white;
     text-decoration:none;


 }

 li{
    color: whitesmoke;

    background-color:;
    margin: 0%;
    padding: 0px;
    margin-right: 5px;
    font-family:'fira sans' ;
}
b{
    background-color: white;
    height: 50px;
}

#mobiles ul_2 li{

    justify-content: center;
    background-color: darkslategrey;
    width: 300px;
    height: 350px;
    padding: 10px;
    border-radius: 20px;


}



#mobiles ul_2 li img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 200px;
    width: 300px;
}
#mobiles li a{

    text-decoration: none;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 5px;
    color:  black;
}
